<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74308265195-1rkdihv255mdokae3gdot4vbu0frulnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74308265195-1rkdihv255mdokae3gdot4vbu0frulnn</string>
	<key>API_KEY</key>
	<string>AIzaSyCBfqinXhXdfb2iXzTud7_0c-h7sMoyQuk</string>
	<key>GCM_SENDER_ID</key>
	<string>74308265195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mridul.hrms</string>
	<key>PROJECT_ID</key>
	<string>hrms-6d0e8</string>
	<key>STORAGE_BUCKET</key>
	<string>hrms-6d0e8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74308265195:ios:eaca126ca30e7a805a8aae</string>
</dict>
</plist>